<style>
  .tweet{
    margin: 10px 0px;
    display: table;
    width: 100%;
    background: #fff;
    border-radius: 2px;
    position: relative;
    padding: 10px 8px;

    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;
  }
  .list-tweets {
    width: 90%; margin: 5%;
  }
  .tweet a{color:#58630a; text-decoration: none;}
</style>
<div layout="row" layout-wrap  layout-align="center center">
  <p ng-bind-html="'ACCOUNT.TEXT_INTRO_NAME' | translate:vm" />
</div>
<div layout="row" layout-wrap  layout-align="center center">
  <p ng-show="vm.tweets.loading">Cargando las cuentas</p>
  <p ng-show="vm.tweets.error">Error en la carga, {{vm.tweets.error}}</p>
</div>
<div layout="row" layout-wrap  layout-align="start">
  <list-tweets data="{{vm.tweets.data}}" tweets="vm.tweets.data" items-per-page="4" flex class="list-tweets" />
</div>
